/* Card Hover Effect */
.course-card, .enrolled-course-card, .taught-course-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    border: 2px solid transparent;
}

.course-card:hover, .enrolled-course-card:hover, .taught-course-card:hover  {
    transform: scale(1.05);
    border: 2px solid rgba(0, 123, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}
.btn-danger {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-danger:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(220, 53, 69, 0.4);
}

/* Button Hover Effects */
.btn-primary, .btn-success {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary:hover, .btn-success:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}