{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
    <h2 class="fs-2">{{ course.title }}</h2>
    <p class="fs-6">{{ course.description }}</p>

    {% if authorized %}
        <h4 class="mb-3 fs-2">Quizzes</h4>
        <ul class="list-group">
            {% for quiz in quizzes %}
                {% with attempt=quiz_attempts|get_item:quiz.id %}
                    <a href="{% if attempt and attempt.completed %}{% url 'quiz_result' quiz.id %}{% else %}{% url 'take_quiz' quiz.id %}{% endif %}" 
                       class="list-group-item fw-bold fs-4 list-group-item-action text-center course-card text-decoration-none">
                        Quiz : {{ quiz.title }}
                    </a>
                {% endwith %}
            {% empty %}
                <li class="list-group-item text-muted">No quizzes available.</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-danger mt-4 fs-4 text-center" role="alert">
            🚫 You must <strong>purchase</strong> this course to access the quizzes.
        </div>
    {% endif %}

    <style>
        .course-card {
            color: rgba(0, 123, 255, 0.7);
            background-color: rgba(42, 45, 50, 0.7);
            border: 2px solid rgba(0, 123, 255, 0.7);
            border-radius: 8px;
            transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
        }
        .course-card:hover {
            background-color: rgba(0, 123, 255, 0.7);
            box-shadow: 0 0 1px rgba(0, 123, 255, 0.7);
            transform: scale(1.01);
        }
    </style>
{% endblock %}
