{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Welcome, <span class="text-primary">{{ user.username }}</span> (Instructor)</h2>
    <p class="text-center text-muted">Manage your courses here.</p>

    <!-- Instructor Actions -->
    <div class="text-center mb-4">
        <a href="{% url 'add_course' %}" class="btn btn-primary px-4 py-2 fw-bold">Add New Course</a>
        <a href="{% url 'course_list' %}" class="btn btn-success px-4 py-2 fw-bold">View Your Courses</a>
    </div>

    
</div>


{% endblock %}
